 <!doctype html> 
 <html lang="es">
	<head> 
 <meta name="Incendios en España" content="text/html;" http-equiv="content-type" charset="utf-8"> 
 <meta name="Incendios en España" content="text/html;" http-equiv="content-type" charset="utf-8"> <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" /> <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script> 
	</head> 
		<body> 
			<h1>Incendio de {{ object['COMUNIDAD'].decode('utf-8') }}</h1> 

			<div id="map" style="width:100%; height:300px;"></div>	

			<p>En la comunidad {{ object['COMUNIDAD'].decode('utf-8') }}, provincia {{ object['PROVINCIA'].decode('utf-8') }}, comarca {{ object['COMARCA'].decode('utf-8') }}, municipio {{ object['MUNICIPIO'].decode('utf-8') }} se quemó una superficie forestal de {{ object['SUPQUEMADA'] }}. Hubieron {{ object['MUERTOS'] }} muertos y {{ object['HERIDOS'] }} heridos. Se detectó en la fecha {{ object['FECHA'] }}. Se pudo controlar en {{ object['TIME_CTRL'] }} minutos y extinguir en {{ object['TIME_EXT'] }} minutos. La causa del incendio fue {{ object['CAUSA'].decode('utf-8') }}. En la extinción del incendio participaron {{ object['PERSONAL'] }} personas, {{ object['PESADOS'] }} vehiculos pesados y {{ object['AEREOS'] }} medios aereos.</p> </body>
			
	<script type="text/javascript">

	  var map = L.map('map').setView([ {{ object['LATITUD'] }},
		 {{object['LONGITUD'] }}], 13);

	  var mapquestLayer = new L.TileLayer(
			'http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png',
			{
	      maxZoom: 18,attribution: 'attribution [...]',
	      subdomains: ['otile1','otile2','otile3','otile4']
	  });

	  map.addLayer(mapquestLayer);

  	L.marker([{{ object['LATITUD'] }},{{ object['LONGITUD'] }}]).addTo(map);

	</script>
</html>